@{

}
<div class="container">
    <div class="row align-items-center ">
        <div class="col-lg-2">
            <div class="logo-box">
                <a asp-controller="Home" asp-action="Index" class="logo"><h1 style="color:white">Turbo.az</h1></a>
                <div class="user-action">
                    <div class="off-canvas-menu-toggle icon-element icon-element-xs shadow-sm">
                        <i class="la la-bars"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="menu-wrapper border-left border-left-gray pl-4 justify-content-end">
                <nav class="menu-bar mr-auto menu--bar">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li>
                            <a asp-controller="Announcement" asp-action="CreateAnnouncement" class="btn btn-success text-white">Elan Ver!</a>
                        </li>
                    </ul>
                </nav>
                <div class="nav-right-button">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-overlay"></div>